.navigation--topbar {
    height: 37px;
    border-bottom: 1px solid #325994;
    background: linear-gradient(to top, #4574b9 0%, #729dd1 100%);
}
.navigation--container {
    height: 128px;
    background-color: #fff;
    box-shadow: 0 8px 12px 4px rgba(0,0,0, .05);
}