.container {
    width: 1200px;
    margin: 0 auto;
    &:after,
    &:before {
        display: table;
        clear: both;
        content: "";
    }
}

.margin-top-0 {
    margin-top: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}

.light-blue {
    color: #51c5d6;
}
.white {
    color: #fff;
}

.slashes {
    &:after {
        content: "";
        background-image: url("../images/slashes.jpg");
        background-repeat: no-repeat;
        display: block;
        height: 14px;
        width: 45px;
        margin: 48px auto 0 auto;
    }
}